main {
	min-height: 80vh;
}
h3 {
	padding: 1rem 0;
}

.rating span {
	margin: 0.1rem;
}

.bg-orange {
	background-color: #eed8ca;
}
.bg-green {
	background-color: #c7e0ca;
}
.bg-turkuaz {
	background-color: #a8d4df;
}
